.attributeRow {
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
}
.attributeRow__Title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
    text-align: start;
    color:#19A7CE;
}

.attributeRow__subTitle {
    color:rgba(0,0,0,0.5);
    font-size: 1rem;
    width: 80%;
    padding-right: 3rem;
    text-align: start;
}


@media (max-width: 1024px) {
    .attributeRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .attributeRow__Title {
        margin-right: 0px;
        text-align: center;
    }
    
    .attributeRow__subTitle {
        margin: auto;
        padding-right: 0px;
        width: 60%;
        text-align: center;
    }

}